<h3><%= @question.title %></h3>
<%= @question.body %></br>
 <%= link_to "Edit Question", edit_question_path(@question) %><br>
 <%= link_to "Delete Question", @question, method: :delete, data: { confirm: "Are you sure?" } %>

<h5>Answers</h5>

<ul>
<% @answers.each do |answer| %>

<li> <%= answer.body %></li>
<% end %>
</ul>
<%= form_for [@question, @answer] do |f| %>


 <div class="field">
   <%= f.label :description %><br>
   <%= f.text_field :body %>
 </div>

 <div class="actions">
   <%= f.submit %>
 </div>
<% end %>
<a href="/">Click here for main question list</a>
